body {
  font-family: Arial;
  background: #e0f2fe;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
}

button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

#output {
  margin-top: 15px;
  font-size: 18px;
}
